
.footer-main{
    margin-top: 70px;
    background-image: url(../img/contact-details-map.png);
    background-repeat: no-repeat;
    background-position: 1050px;
    background-color: rgb(214, 152, 220);
}
.footer1{
    width: 85%;
    margin: auto;

}
.footer1 h4{
    font-size: 20px;
color: #fff;
}
a{
    text-decoration: none;
}
.about-as{
    float: left;
    width: 25%; 
}
.about-as p{
   margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
}

.usefil-links{
    float: left;
    width: 25%;
}
.usefil-links li{
        
        list-style-type: none;
        margin-top: 25px;  
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
        font-size: 16px;
        line-height: 1.2em;
      
}
.usefil-links a{
    color: #969696;
    color: #fff;
    font-weight: bold;
}

.opening-hours{
    float: left;
    width: 25%;
}
.opening-hours li{
        list-style-type: none;
        margin-top: 25px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
        font-size: 16px;
        line-height: 1.2em;

}


.contact-details{
    float: left;
    width: 25%;
    position: relative;
}

.contact-details-icon{
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    font-size: 16px;
    line-height: 1.8em;
}
.contact-details-icon a{
    color: #fff;
    font-weight: bold;
}

.contact-details-icon span{
    padding-left: 10px;
    
}








