
.footer-main{
    margin-top: 70px;
    background-image: url(../img/contact-details-map.png);
    background-repeat: no-repeat;
    background-position: 1050px;
    background-color: rgba(0, 0, 0, .8);
}
.footer1{
    width: 85%;
    margin: auto;

}
.footer1 h4{
    font-size: 20px;
color: #fff;
font-family: "Alegreya";
}
a{
    text-decoration: none;
}
.about-as{
    float: left;
    width: 25%; 
}
.about-as p{
   margin-top: 25px;
    color: #969696;
    font-size: 16px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
}

.usefil-links{
    float: left;
    width: 25%;
}
.usefil-links li{
        
        list-style-type: none;
        margin-top: 25px;  
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
        font-size: 16px;
        line-height: 1.2em;
      
}
.usefil-links a{
    color: #969696;
    
}

.opening-hours{
    float: left;
    width: 25%;
}
.opening-hours li{
        list-style-type: none;
        margin-top: 25px;
        color: #969696;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
        font-size: 16px;
        line-height: 1.2em;

}


.contact-details{
    float: left;
    width: 25%;
    position: relative;
}

.contact-details-icon{
    margin-top: 25px;
    color: #969696;

    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    font-size: 16px;
    line-height: 1.8em;
}
.contact-details-icon a{
    color: #969696;
}

.contact-details-icon span{
    padding-left: 10px;
    
}

.contact-details-icon span a:hover{
    color: #A9A9A9;
    cursor: pointer;
}


.footer2{
    
}
.row-footer2{
    padding-top: 20px;
    text-align: center;
}
.social-media-icon{
    text-align: center;
    margin-top: 40px;
    
    border-radius: 100%;
}
.copyright-2017{
    font-size: 18px;
    
    padding-top: 8px;
    font-family: "Alegreya Sans";
}
.media-icon i{
   
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #484540;
    border-radius: 50%;
    font-size: 30px;
    color: #8c8a86;
    margin-left: 4px;
        
}
