
img{
    width: 100px;
    height: 100px;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    text-decoration: none;
    color:rgb(62, 110, 180) ;
}
.swiper{
    padding: 50px;
}
.swiper-button-prev,.swiper-button-next{
    background-color: #fff;
    color: rgb(62, 110, 180);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.swiper-button-prev:after,.swiper-button-next:after, .swiper-rtl .swiper-button-next:after{
    font-size: 25px;
}
.swiper-pagination-bullet{
    background-color: #ffff33;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 10px;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: rgb(214, 152, 220);
}
.p-selectbutton .p-button.p-highlight{
    color: black;
    background-color: #ffff33;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    width: 1000px;
    margin: auto;
    border: none;
    margin-bottom: 1rem;
}

.p-dataview .p-paginator-bottom {
    border-right: 1px;
}
.p-dataview .p-dataview-header{
    border: none;
}